:root {
  --primary-light-rgb: 126, 213, 111;
  --primary-medium-rgb: 40, 180, 131;
  --primary-dark-rgb: 29, 129, 82;
  --primary-neutral-hex: #777;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.6rem/1.7 Inter, Verdana, system-ui, sans-serif;
  box-sizing: border-box;
  color: #999;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-weight: 500;
}

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(40, 180, 131, 0.6), rgba(126, 213, 111, 0.6)), url("../images/snow-mountainbike-slava-auchynnikau-s41Qwb_i5X8-unsplash.jpg") bottom/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  animation: 1.5s ease-in-out expandingClipPath;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: white;
}
.header__logo {
  height: 10rem;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main, .heading-primary--sub {
  display: block;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  font-size: 6rem;
  letter-spacing: 3rem;
  font-weight: 700;
}
.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: 1.5rem;
  font-weight: 500;
}

.btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0.5rem 0.8rem 1.4rem rgba(85, 85, 85, 0.4);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.5rem 0.8rem 0.7rem rgba(85, 85, 85, 0.4);
}
.btn--white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes expandingClipPath {
  0% {
    clip-path: polygon(0 0, 0 0, 0 1%, 0 1%);
  }
  33% {
    clip-path: polygon(0 0, 100% 0, 100% 1%, 0 1%);
  }
  66% {
    clip-path: polygon(0 0, 100% 0, 100% 1%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
._fade-bottom {
  animation: 1s 1s ease-in-out fadeInBottom;
  animation-fill-mode: backwards;
}

._fade-right {
  animation: 1s 1s ease-in-out fadeInRight;
  animation-fill-mode: backwards;
}

._fade-left {
  animation: 1s 1s ease-in-out fadeInLeft;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=style.css.map */
